<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- <property name="driver" value="org.h2.jdbcx.JdbcDataSource"/> -->
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:mem:testdb;INIT=runscript from 'classpath:scripts/schema.sql'"/>
                <property name="username" value="sa"/>
                <property name="password" value="sa"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- <mapper resource="mapper/BlogMapper.xml"/> -->
        <package name="com.mservicetech.campsite.repository.mapper"/>
    </mappers>
</configuration>